@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
@plugin "flowbite-react/plugin/tailwindcss";
@source "../node_modules/flowbite";
@source "../.flowbite-react/class-list.json";
@custom-variant dark (&:where(.dark, .dark *));
